@font-face {
    /* https://www.1001fonts.com/pt-root-ui-font.html */
    font-family: "PTRootUI";
    src: url("./font.ttf");
}

body {
    /* Remove ability to select any text */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden;

    --brand: rgb(0, 223, 130);
    --brand-light: rgb(44, 255, 167);

    font-family: "PTRootUI";

    /* Remove slash at end of this line to go to production *
    background: skyblue;
    /* Please don't commit with a slash at the end */
}

/* Common for settings */
.setting-oneline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.setting-name {
    font-size: 14px;
    color: white;
}
